@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

#desktop-header {
  position: fixed!Important;
  top: 0!Important;
  left: 0!Important;
  right: 0!Important;
  z-index: 9998!Important;
}

#menu-header {
    position: fixed !Important;
    top: 0 !Important;
    left: 0 !Important;
    bottom: 0 !Important;
    z-index: 9999!Important;
}

.sidebar {
    height: auto !Important;
}

body{
    overflow-x: hidden;
    background-color: white !Important;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px !Important;
    font-weight: normal;
}

.content-wrapper{
    background-color: white !Important;
}

.container{
    max-width: 100%!Important;
}

.overflow-auto-page{
    max-height: 70vh !Important;
    padding-right: 3px!Important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-blue{
    color: #004077 !Important;
}

.background-blue{
    background-color: #004077 !Important;
}

.btn{
    margin-left: 5px !important;
}

.btn-blue {
  color: #004077 !Important;
  background-color: transparent !Important;
  border-color: #004077 !important;
}

.btn-blue:hover {
  color: #fff !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-info:hover {
  color: #fff !Important;
  border: none !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
  color: #fff !Important;
  background-color: #004077 !Important;
  border: none;
  border-color: transparent !important;
}

a:hover,a:focus {
text-decoration:none;
}

.mensaje-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

/* PERFIL GENERAL*/
.titulo-Perfil{
  text-align:left !Important;
  color: #004077 !Important;
  margin-top: 1em !Important;
  margin-bottom: 1em !Important;
  border-bottom: 1px solid black !Important;
  border-color: #BECECF !Important;
}

.subtitulo-Perfil{
  text-align:left !Important;
  color: #596064 !Important;
  margin-top:1em !Important;
}

.subtitulo-Perfil i{
  font-size: 20px !Important;
  color: #004077 !Important;
}

.modal{
    margin-top: 50px !Important;
    margin-bottom: 10px !Important;
}

.pushmenu{
    font-size:1.25rem;
}

td .btn{
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button:disabled,
input[type="number"]::-webkit-outer-spin-button:disabled {
  opacity: 1;
  pointer-events: auto;
}

.img-circle {
    border-radius: 50%;
}

.img-circle-perfil {
    border-radius: 10%;
}

pre{
  font-family: "Poppins", Arial, sans-serif;
  font-size: 10px;
  line-height: 1.8;
  font-weight: normal;
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: justify;
}

.links-cohorte{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.links-cohorte:hover{
    color: #000;
    border-color: #293462;
}

.p-menu-perfil{
    padding: 0.25rem;
}

.button-container {
    margin-top: 10px;
}

.button-container a {
    display: block;
    margin-bottom: 5px;
}

.button-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-container a:hover {
  background-color: #3498db;
  color: #fff;
}

.h1,h1{
    font-size: calc(1.25rem + 0.75vw) !Important;
}

.content-header{
    padding: auto !Important;
}

.w-100 {
    width: auto !important;
}

.container-titulo{
    padding: 0px !Important;
}

#EspacioEncabezado{
    height: 40px!Important;
}

.font-weight-bold{
    font-weight: bold !Important;
}

.tarjeta-container{
    display: flex;
    align-items: stretch;
}

.tarjeta-facturacion-izquierda{
    width: 48%;
}

.tarjeta-facturacion-derecha{
    margin-left:2%;
    width: 50%;
}

.tarjeta-venta-izquierda{
    width: 25%;
}

.tarjeta-venta-derecha{
    margin-left: 2%;
    width: 75%;
}

/*Configuración de las tablas*/
div.dataTables_wrapper div.dataTables_filter input {
    font-size: 12px !Important;
    border-color: #004077 !important;
}

.page-item {
    font-size: 10px !Important;
}

.page-link {
    color: #000 !Important;
    font-size: 10px !Important;
    border-color: #004077 !Important;
}

div.dataTables_wrapper div.dataTables_length select {
    font-size: 12px !Important;
    border-color: #004077 !important;
}
table.dataTable {
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    font-size: small !Important;
    margin: 0px !Important;
    width: 100% !Important;
    background-color: white;
}

table.dataTable thead>tr>th {
    background-color: #8A99AF !Important;
    color: #000 !Important;
    border-color: #004077 !important;
}

.page-item.active .page-link {
    background-color: #83B1F3 !Important;
    border-color: #004077 !Important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0px !Important;
}

.dataTables_wrapper .dt-buttons {
    display: none;
}
.table-container {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden; 
    margin-top: 10px !Important;
}

.table{
    width: 100%!Important;
}

thead {
    position: sticky;
    border-style: solid;
    top:0px;
}

th {
  position: sticky;
  top: 0px;
}

.encabezado-tabla{
    background-color: #DCDAE9!Important;
}

/* Configuración de la Venta de Terreno */
#numeroTerrenoVenta{
    font-weight: bold!Important;
    font-size: 4rem !Important;
}
#poligonoTerrenoVenta{
    font-weight: bold!Important;
    font-size: 1rem !Important;
}
#imagenPerfil{
    font-size: 7rem !Important;
}

/* Configuración de Modales */
.modal {
    z-index: 9996;
}
.form-group{
    padding-left:3%!Important;
    padding-right:3%!Important;
}
.overflow-auto{
    max-height: 55vh !Important;
    padding-right: 3px!Important;
}
.select2-results {
    position: relative;
    z-index: 9997;
}
.select2-container {
    z-index: 9997;
}

/*Configuración de Icono Ver Contraseña Login*/
.input-group-text{
    width: 45px !Important;
    justify-content: center;
}
#icono-ver{
    display: none;
}
#icono-ver-confirm{
    display: none;
}
#password-toggle:hover{
    cursor: pointer;
}
#password-toggle:hover #icono-candado {
    display: none;
}
#password-toggle:hover #icono-ver {
    display: inline-block;
}
#password-toggle-new:hover{
    cursor: pointer;
}
#password-toggle-new:hover #icono-candado {
    display: none;
}
#password-toggle-new:hover #icono-ver {
    display: inline-block;
}
#password-toggle-confirm:hover{
    cursor: pointer;
}
#password-toggle-confirm:hover #icono-candado {
    display: none;
}
#password-toggle-confirm:hover #icono-ver-confirm {
    display: inline-block;
}

/*Configuración Inicio de Sesión*/
.card-header {
    background-color: white;
    border-bottom: 0px solid rgba(0,0,0,.125);
}
.card-footer {
    background-color: white;
    border-top: 0px solid rgba(0,0,0,.125);
}
.login-box{
    max-width: 400px;
}
.background-login{
    background-color: #154360;
}
.link-reset-password{
    color: #004077 !Important;
    text-decoration: none;
}

.text-align-justify{
    text-align: justify;
}
