<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Estado de Cuenta de Mantenimiento</title>
    <style>/*Contenido CSS*/</style>
    <style>@media print {
        table {
            margin-top: 0;
        }
    }</style>
</head>
<body>
    <div class="text-center w-100">
        <h4 class="fw-normal p-0 m-0" th:text="${#strings.toUpperCase('PROYECTO ' + venta.terreno.proyecto.nombre)}"></h4>
        <h4 class="fw-normal p-0 m-0">ESTADO DE CUENTA DE MANTENIMIENTO</h4>
        <div class="w-75 border-bottom border-2" style="margin-left: 12.5%;"></div>
        <h5 class="fw-normal pt-0 mt-0 mb-2" th:text="${ 'LOTE ' + venta.terreno.numero + venta.terreno.seccion + #strings.toUpperCase('POLIGONO ' + venta.terreno.poligono)}"></h5>
    </div>
    <div class="text-center">
        <p class="p-0 m-0">Propietarios:</p>
        <ul class="list-unstyled" th:each="asignacion : ${propietarios}">
            <li th:text="${asignacion.propietario.persona.nombre + ' ' + asignacion.propietario.persona.apellido}"></li>
        </ul>
    </div>  
    <table class="table small text-center w-100">
        <thead class="bg-dark text-white">
            <tr>
                <th style="width: 13%;">F. Pago</th>
                <th style="width: 8%;">Recibo</th>
                <th style="width: 13%;">F. Cuota</th>
                <th style="width: 11%;">Cuota</th>
                <th style="width: 11%;">Recargo</th>
                <th style="width: 11%;">Descuento</th>
                <th style="width: 11%;">Otros</th>
                <th style="width: 11%;">Abono</th>
                <th style="width: 11%;">Pendiente</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cuota : ${cuotas}">
                <td class="border" th:text="${#dates.format(cuota.pago.fecha, 'dd/MM/yyyy')}"></td>
                <td class="border" th:text="${cuota.pago.recibo}"></td>
                <td class="border" th:text="${#dates.format(cuota.fechaCuota, 'dd/MM/yyyy')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.cuota, 1,'POINT',2,'COMMA')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.recargo, 1,'POINT',2,'COMMA')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.descuento, 1,'POINT',2,'COMMA')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.otros, 1,'POINT',2,'COMMA')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.cuota + cuota.recargo - cuota.descuento, 1,'POINT',2,'COMMA')}"></td>
                <td class="border" th:text="${#numbers.formatDecimal(cuota.saldoCuota + cuota.saldoRecargo, 1,'POINT',2,'COMMA')}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
